
#teaser {
  width: 100%;
  background-color: #fff;
  /* background-image: url("../images/top_bg.png"); */
  background-position: center 250px;
  background-repeat: no-repeat;
  /* padding-top: 1.5rem; */
  overflow: visible;
}
#teaser-text {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}
#teaser-text a {
  text-decoration: underline;
  color: #000;
}
#teaser-text a:hover {
  text-decoration: none;
}
@media (min-width: 768px) {
  #teaser-text {
    float: left;
    width: 50%;
    margin: 50px auto 0 auto;
  }
}
@media (min-width: 1024px) {
  #teaser-text {
    margin: 100px auto 0 auto;
  }
}
#teaser h1 {
  /* font-family: "ClanOT-Medium", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 24px; */
  padding-bottom: 15px;
}
#teaser p {
  /* font-family: "Roboto Mono", monospace;
  font-size: 20px; */
  display: block;
  max-width: 500px;
}
#teaser p.hashtags {
  padding-top: 20px;
  font-style: italic;
  font-weight: bold;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  clear: both;
}
.container_list {
  /* width: 90%; */
  /* max-width: 1200px; */
  /* clear: both; */
  display: flex;
  justify-content: center;
}
.container.small {
  max-width: 768px;
}
.container.center {
  text-align: center;
}
.p-bottom {
  padding-bottom: 40px;
}
.p-top {
  padding-top: 40px;
}
.p-d-bottom {
  padding-bottom: 80px;
}
.p-d-top {
  padding-top: 80px;
}
@media (min-width: 768px) {
  #teaser p {
    font-size: 24px;
  }
}
@media (min-width: 1025px) {
  #teaser p {
    font-size: 26px;
    line-height: 34px;
  }
}

.button {
  border: 1px solid #1e3791;
  border-radius: 10px;
  padding: 5px 10px;
  /* font-family: "Roboto Mono", monospace; */
  font-style: italic;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  color: #1e3791;
  margin: 0 5px;
}
.button:hover,
.button.active {
  background-color: #1e3791;
  color: #dee3f7;
}
.button.tag {
  font-size: 12px;
  padding: 2px 8px 3px 8px;
  margin-left: 15px;
  background-color: #1e3791;
  border: none;
  color: #dee3f7;
}
hr.clear {
  height: 1px;
  width: 100%;
  clear: both;
  visibility: hidden;
}
pre {
  display: block;
  padding: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
pre[class*="language-"] {
  background-color: #fff;
}
hr.divider {
  width: 100%;
  clear: both;
  border: transparent;
  height: 17px;
  background-position: center;
  background-image: url(../images/divider.png);
  background-repeat: no-repeat;
  margin: 20px 0;
}
hr.divider.small {
  max-width: 768px;
  margin: 20px auto;
}

.download-list ul,
.download-list li {
  list-style: none;
}
.download-list li {
  width: 100%;
  clear: both;
}
.download-list li a {
  color: #000;
  text-decoration: none;
}
.download-list li a:hover {
  color: #979797;
}
.download-list li a:hover .download-icon {
  background-position: right;
}
.download-icon {
  background-image: url(../images/download.png);
  background-size: 54px 42px;
  background-repeat: no-repeat;
  background-position: left;
  width: 27px;
  height: 42px;
  float: left;
  display: inline-block;
  margin: 0px 20px 20px 0;
}
.download-title {
  font-weight: bold;
  font-size: 18px;
}
.download-subtitle {
  font-size: 14px;
}
@media (min-width: 768px) {
  .download-list li {
    clear: none;
    float: left;
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}
# sourceMappingURL=style.css.map
